body {
  margin: 0;
  padding: 0;
  color: #333333;
  background: #fbfbfb;
  font-family: "Segoe Ui", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

h2, h3, h4{
  font-size: 14px !important;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  line-height: 30px;
}

$theme_color: #c5cfd4;
$theme_ascent_color: #005bc9;
$theme_alert_color: rgb(166, 41, 82);

$bullet-types: (
  default: #323232,
  instrutor: #007ef2,
  ambiente: #8700ff,
  curso: #f64200
);

@keyframes movebg{ 100% { background-position: 28px; } }
@-moz-keyframes movebg{ 100% { background-position: 28px; } }
@-webkit-keyframes movebg { 100% { background-position: 28px; } }
@-o-keyframes movebg { 100% { background-position: 28px; } }
@-ms-keyframes movebg { 100% { background-position: 28px; } }

@each $label, $color in $bullet-types {
  .color-#{$label}{
    background: none !important;
    border: none !important;
    background-color: $color !important;
    color: #ffffff !important;

    &:hover{
      background-color: darken($color, 5%)  !important;
    }

    &.busy{
      opacity: 0.7;
      background-image: url('../img/bg-busy.png') !important;
  		background-position: top left;
			background-repeat: repeat;

		  animation: movebg 1s infinite linear;
		  -webkit-animation: movebg 1s infinite linear;
		  -moz-animation: movebg 1s infinite linear;
		  -o-animation: movebg 1s infinite linear;
		  -ms-animation: movebg 1s infinite linear;
    }
  }
}

#top-header{
  background-color: $theme_color;
  padding: 20px 0;

}

#main-logo{
  padding: 0px;
  margin: 0px;
  font-size: 0px;
  display: block;

  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-bottom:  30px;
  }


  img{
    height: auto;
    max-height: 60px;
    max-width: 100%;
  }
}

#main-menu{
  margin: 0px;
  padding: 0px;
  display: table;

  @media (max-width: 767px) {
    margin: 30px auto;
  }

  .icon-item{
    text-decoration: none;

    &.alert-color{
      .box{
        background-color: #ffffff;
        color: $theme_alert_color;
      }

      &:hover{
        .box{
          background-color: $theme_alert_color;
          color: #ffffff;
        }
      }
    }

    .box{
        width: 60px;
        height: 60px;
        display: table-cell;
        vertical-align: middle;


        @media (max-width: 575px) {
            width: 48px;
            height: 48px;
        }

        background-color: #ffffff;
        color: $theme_ascent_color;
        border-radius: 30px;
        text-align: center;

        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -ms-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;

        & > [class *= "fa-"]{
          height: 24px;
          width: auto;
        }

        @media (max-width: 575px) {
            & > [class *= "fa-"]{
              height: 20px;
              width: auto;
            }
        }
    }

    &:hover{
      .box{
        background-color: $theme_ascent_color;
        color: #ffffff;
      }
    }


    & + .icon-item{
      margin-left: 15px;
      content: "";

      @media (max-width: 575px) {
        margin-left: 10px;
      }
    }
  }
}

#time-now{
  font-weight: 300;
  color: #ffffff;
  text-align: right;
  line-height: 20px;
  margin-top: 40px;
  font-size: 11px;

  @media (max-width: 767px) {
    margin: 0px;
  }

  b{
    font-weight: 800;
  }
}

#home-container{
  padding-top: 15px;
}

.table{
  .table-description{
    margin: 5px 0px 0px;
    font-size: 12px;
  }
}
