body {
  margin: 0;
  padding: 0;
  color: #333333;
  background: #fbfbfb;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

$theme_color: #c5cfd4;
$theme_ascent_color: #005bc9;

#top-header{
  background-color: $theme_color;
  padding: 20px 0;

}

#main-logo{
  padding: 0px;
  margin: 0px;
  font-size: 0px;
  display: block;

  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-bottom:  30px;
  }


  img{
    height: auto;
    max-height: 60px;
    max-width: 100%;
  }
}

#main-menu{
  margin: 0px;
  padding: 0px;
  display: table;

  @media (max-width: 767px) {
    margin: 30px auto;
  }

  .icon-item{
    text-decoration: none;

    .box{
        width: 60px;
        height: 60px;
        display: table-cell;
        vertical-align: middle;


        @media (max-width: 575px) {
            width: 48px;
            height: 48px;
        }

        background-color: #ffffff;
        color: $theme_ascent_color;
        border-radius: 30px;
        text-align: center;

        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -ms-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;

        & > [class *= "fa-"]{
          height: 24px;
          width: auto;
        }

        @media (max-width: 575px) {
            & > [class *= "fa-"]{
              height: 20px;
              width: auto;
            }
        }
    }

    &:hover{
      .box{
        background-color: $theme_ascent_color;
        color: #ffffff;
      }
    }


    & + .icon-item{
      margin-left: 15px;
      content: "";

      @media (max-width: 575px) {
        margin-left: 10px;
      }
    }
  }
}

#time-now{
  font-weight: 300;
  color: #ffffff;
  text-align: right;
  line-height: 20px;
  margin-top: 40px;
  font-size: 11px;

  @media (max-width: 767px) {
    margin: 0px;
  }

  b{
    font-weight: 800;
  }
}

#home-container{
  padding-top: 15px;
}
