<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="css/master.css" rel="stylesheet">

    <title></title>
  </head>
  <body>
    <div class="coluna">
      <div class="schedule-item">
        <div class="time-stamp">10:00 12:00</div>
        <div class="content">
          Fundamentos de Tecnologia da Informação <i>(10/20)</i>
          <a href="#" class="bullet-item">202</a>
          <a href="#" class="bullet-item">Erico</a>
          <a href="#" class="bullet-item" title="34883 - Habilitação Técnica Informática para Internet">34883 - Informática para Internet</a>
        </div>
      </div>
      <div class="schedule-item">
        <div class="time-stamp">10:00 12:00</div>
        <div class="content">
          Fundamentos de Tecnologia da Informação <i>(10/20)</i>
          <a href="#" class="bullet-item">202</a>
          <a href="#" class="bullet-item">Erico</a>
          <a href="#" class="bullet-item" title="34883 - Habilitação Técnica Informática para Internet">34883 - Informática para Internet</a>
        </div>
      </div>      
      <div class="schedule-item">
        <div class="time-stamp">10:00 12:00</div>
        <div class="content">
          Fundamentos de Tecnologia da Informação <i>(10/20)</i>
          <a href="#" class="bullet-item">202</a>
          <a href="#" class="bullet-item">Erico</a>
          <a href="#" class="bullet-item" title="34883 - Habilitação Técnica Informática para Internet">34883 - Informática para Internet</a>
        </div>
      </div>
    </div>
  </body>
</html>
