<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/master.css" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <title>Template Motiro</title>
  </head>
  <body>
    <header id="top-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-2">
            <!-- COMEÇO LOGO MOTIRÕ -->
            <h1 id="main-logo" class="text-center text-md-left">
              <img src="img/logo_1.png" alt="" />
            </h1>
            <!-- FIM LOGO MOTIRÕ -->
          </div>
          <div class="col-12 col-md">
            <!-- COMEÇO BARRA DE MENU -->
            <div class="text-center text-sm-left">
              <menu id="main-menu">
                <a href="#" class="icon-item" title="Calendários">
                  <span class="box"><i class="far fa-calendar-alt fa-2x" ></i></span>
                </a>
                <a href="#" class="icon-item" title="Eventos">
                  <span class="box"><i class="far fa-calendar fa-2x" ></i></span>
                </a>
                <a href="#" class="icon-item" title="Usuários">
                  <span class="box"><i class="far fa-user fa-2x" ></i></span>
                </a>
                <a href="#" class="icon-item" title="Configurações">
                  <span class="box"><i class="fas fa-cogs fa-2x" ></i></span>
                </a>
              </menu>
            </div>
            <!-- FIM BARRA DE MENU -->
          </div>
          <div class="col-12 col-md-4 col-lg-3">
            <div id="time-now" class="text-center text-md-left"><b>AGORA</b>, 26 de fevereiro de 2018, 15:57</div>
          </div>
        </div>
      </div>
    </header>
    <section id="home-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-3 col-lg-2">
            <!-- INICIO DA BARRA LATERAL -->

            <!-- FIM DA BARRA LATERAL -->
          </div>
          <div class="col-12 col-md-9 col-lg-10">
            <!-- INICIO DO CONTEÚDO -->

            <div class="schedules-group">
              <div class="card-columns flex-rows">

                <div class="card">
                  <div class="schedule-item active">
                    <div class="time-stamp">10:00 12:00</div>
                    <div class="content">
                      <a href="#">Fundamentos de Tecnologia da Informação <i>(10/20)</i></a>
                      <a href="#" class="bullet-item b-ambiente">202</a>
                      <a href="#" class="bullet-item b-curso" title="34883 - Habilitação Técnica Informática para Internet">34883 - Informática para Internet</a>
                      <a href="#" class="bullet-item b-instrutor">Erico Veríssimo</a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="schedule-item">
                    <div class="time-stamp">10:00 12:00</div>
                    <div class="content">
                      <a href="#">Fundamentos de Tecnologia da Informação <i>(11/20)</i></a>
                      <a href="#" class="bullet-item b-ambiente">202</a>
                      <a href="#" class="bullet-item b-ambiente">301</a>
                      <a href="#" class="bullet-item b-curso" title="34883 - Habilitação Técnica Informática para Internet">34883 - Informática para Internet</a>
                      <a href="#" class="bullet-item b-curso" title="34833 - Habilitação Técnica Informática para Internet">34883 - Informática para Internet</a>
                      <a href="#" class="bullet-item b-instrutor">Willian Rodrigues</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <!-- FIM DO CONTEÚDO -->
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
